<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="org.dvaletin.apps.nabludatel"
    android:versionCode="6"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".NabludatelActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="SpravochnikActivity"
            android:configChanges="orientation"
            android:label="@string/spravochnik_title"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="NabludatelProfileActivity"
            android:configChanges="orientation"
            android:label="@string/nabludatel_profile_title"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="ElectionsDistrictActivity"
            android:configChanges="orientation"
            android:label="@string/elections_district_title"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="ViolationCheckListActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="MainWindow"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="NabludatelSettingsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="ReportActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="SosActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".utils.AndroidCustomGalleryActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="SimpleTwitterActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
    </application>

</manifest>