<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dvaletin.apps.nabludatel"
    android:versionCode="1"
    android:versionName="1.0"
    android:installLocation="preferExternal">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application

        android:label="@string/app_name" android:icon="@drawable/icon">
        <activity
            android:name=".NabludatelActivity"
            android:label="@string/app_name"  android:launchMode="standard" android:configChanges="orientation" android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity android:name="SectionElectionsDistrict" android:label="@string/section_elections_district_title" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/admitted_before_eight_title" android:name=".SectionBeforeElectionsAdmittedBeforeEight" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/ballot_box_title" android:name=".SectionBeforeElectionsBullotBox" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".SectionBeforeElectionsKoib" android:label="@string/koib" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".SectionBeforeElectionsAppearance" android:label="@string/appearance" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/voters_title" android:name="SectionBeforeElectionsVotersCount" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/voters_title" android:name="SectionBeforeElectionsVoters" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/section_during_elections_attendance_title" android:name=".SectionDuringElectionsAttendance" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/section_during_elections_bullot_title" android:name=".SectionDuringElectionsBullot" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/section_during_elections_ballot_process_pressure_title" android:name=".SectionDuringElectionsBallotProcessPressure" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/section_during_elections_suspicious_voters_title" android:name=".SectionDuringElectionsSuspiciousVouters" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/section_during_elections_absentee_vote_title" android:name=".SectionDuringElectionsAbsenteeVote" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/section_during_elections_bundle_of_ballots_title" android:name=".SectionDuringElectionsBundleOfBallots" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/spravochnik_title" android:name="SpravochnikActivity" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name=".SectionCountingUnusedBallots" android:label="@string/unused_ballots_title" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="SectionCountingConfirmedVoters" android:label="@string/confirmed_voters_title" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="SectionCountingAbsenteeBallot" android:label="@string/counting_absentee_ballot_title" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="SectionCountingBallotBox" android:label="@string/ballot_box_open_title" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="SectionCountingControlCalculations" android:label="@string/control_calculations_title" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="SectionCountingCountingBullots" android:label="@string/counting_ballots_title" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:label="@string/nabludatel_profile_title" android:name="NabludatelProfileActivity" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:windowSoftInputMode="stateAlwaysHidden" android:label="@string/nabludatel_report_title" android:name="NabludatelReportActivity"></activity>
        <activity android:name="ElectionsDistrictActivity" android:label="@string/elections_district_title"></activity>
        <activity android:name="ViolationCheckListActivity" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="MainWindow"><intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter></activity>
        <activity android:name="NabludatelSettingsActivity" android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity android:name="ReportActivity"></activity>
        <activity android:name="SosActivity"></activity>
    </application>

</manifest>
